// FONT
$primaryFont: 'Montserrat';
$secondaryFont: 'IBM Plex Mono';

// COLOR
$primary: #304FFE;
$unactive: #7986CB;
$g-12: #1F1F1F;
$g-80: #CCC;
$g-95: #F2F2F2;
$g-96: #F6F6F6;
$g-99: #FCFCFC;

// TRANSITION

$time-4: all .4s ease-in-out;